<div class="content">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Arac Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="carAddForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">                       
                        <div class="form-group">
                            <label for="carName">Arac Adı:</label>
                            <input type="text" id="carName" formControlName="carName" class="form-control"
                                placeholder="Ürün adı" />
                        </div>
                    </div>
                    <div class="mb-3">                       
                        <div class="form-group">
                            <label for="modelYear">Model Yılı:</label>
                            <input type="text" id="modelYear" formControlName="modelYear" class="form-control"
                                placeholder="Model" />
                        </div>
                    </div>
                    <div class="mb-3">                       
                        <div class="form-group">
                            <label for="dailyPrice">Gunluk Ucret:</label>
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                placeholder="Ucret" />
                        </div>
                    </div>
                    <div class="mb-3">                       
                        <div class="form-group">
                            <label for="colorId">Renk Id:</label>
                            <input type="number" id="colorId" formControlName="colorId" class="form-control"
                                placeholder="RenkId" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>